[user]
	email = h3ndry@users.noreply.github.com
	name = Hendry Khoza
[merge]
	tool = nvimdiff
[core]
	editor = nvim
[push]
	default = current
	autoSetupRemote = true
[pull]
	default = matching
	rebase = true
[branch]
	autoSetupMerge = always
